<form action="/dashboard/addstation" method="POST">
    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field">
                <label class="label">Station Name</label>
                <input type="text" class="input" placeholder="Name" name="title">
            </div>
            <div class="field">
                <label class="label">Latitude</label>
                <input type="text" class="input" placeholder="00.00" name="latitude">
            </div>
            <div class="field">
                <label class="label">Longitude</label>
                <input type="text" class="input" placeholder="00.00" name="longitude">
            </div>
        </div>
    </div>
    <button class="button is-link">Add Station</button>
</form>